/* CSS for Single Page Presence */

/* Yahoo Reset linked to html file */
/* Cue my own original formatting */

html{
    background-color: black;
	color: white;
	}
body{
    width: 90%;
	min-width: 84em;
	font-family: Cambria, Georgia, serif;
    font-size: 62.5%; /* 1em now = 10px */
    line-height: 1.8em;
	
    /*Stops text size adjustment with change in smartphone orientation. Mobile First :D*/
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
  }
#content{
    width: 100%;
	text-align: left;
	float: left;
	line-height: 1.8em;
	}

#column1{
	width: 33.3%;
	text-align: center;
	float: left;
	}

img{
    display: block;
	width: 75%;
	height: 75%;
	padding-top: 1.8em;
	}
	
#column2{
	width: 66.7%;
	text-align: left;
	float: right;
	}

#header{
    text-align: center;
	}

h1{
    font-size: 2.1em;
	margin-top: 1em;
	margin-bottom: 0.5em; 
	}
	
h2{
    font-size: 1.8em;
	margin-top: 0em;
	margin-bottom: 0em;
	}

h3{
    font-size: 1.6em;
	font-style: italic;
	margin-top: 2em;
	margin-bottom: 3.6em;
	}
	
h4{
    font-size: 1.6em;
	margin-top: 0.2em;
	margin-bottom: 0em;
	}
	
p{
    font-size: 1.4em;
	margin-top: 1.3em;
	margin-bottom: 2.7em;
	}
	
#footer{
    font-size: 1.1em;
	margin-top: 3.6em;
	margin-bottom: 0.7em;
	}
	
#email{
      position: relative;
	  float: left;
	  }
	  
#medialinks{
    position: relative;
    float: right;
    }
	
	
/*Link styles*/
/*a:link{
    color: rgb(133,19,206);
	}
a:visited{
    color: black;
    }
a:hover{
    color: gray;
    }
a:active{
    color: black;
    }*/
  
