/* CSS for Single Page Presence */

/* Yahoo Reset linked to html file */
/* Cue my own original formatting */

body{
    width: 90%;
	margin: 0 auto;
	min-width: 84em;
	
    /*background-color: black;
    color: rgb(187,139,191);*/
    font-family: Cambria, Georgia, serif;
    font-size: 62.5%; /* 1em now = 10px */
    line-height: 1.8em;
    /*Stops text size adjustment with change in smartphone orientation. Mobile First :D*/
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
  }
#content{
    width: 100%;
	text-align: left;
	float: left;
	line-height: 1.8em;
	}

#column1{
	width: 33.3%;
	text-align: center;
	float: left;
	}

img{
    display: block;
	width: 100%;
	}
	
#column2{
	width: 66.7%;
	text-align: left;
	float: right;
	}

#header{
    text-align: center;
	}

   h1{
    font-size: 2.1em;
	margin-top: 1em;
	margin-bottom: 0.5em; 
	}
	
h2{
    font-size: 1.8em;
	margin-top: 0em;
	margin-bottom: 0em;
	}

h3{
    font-size: 1.6em;
	font-style: italic;
	margin-top: 2em;
	margin-bottom: 3.6em;
	}
	
h4{
    font-size: 1.6em;
	margin-top: 0.2em;
	margin-bottom: 0em;
	}
	
p{
    font-size: 1.4em;
	margin-top: 1.3em;
	margin-bottom: 0.9em;
	}
	
/*body{
    font-size: 1.8em;
    margin-left: 3em;
    margin-right: 3em;
    }
#header{
    text-align: center;
    }
h1{
    font-size: 1.6em;
    }
h2{
    font-size: 2.2em;
    }
h3{
    font-style: italic;
    font-size: 1.8em;
    text-align: center;
  }
h4{
    font-size: 2em;
    }
#background{
    padding-top: 3em;
    }
#school{
    padding-top: 3em;
    padding-bottom: 10em;
    }
#footer{
    margin-left: 0em;
    margin-right: 0em;
    background-color: rgba(187,139,191,.5);
    color: white;
    font-size: 0.9em;
    }
  #email{
      position: relative;
	  float: left;
	  }
  #medialinks{
      position: relative;
	  float: right;
	  }*/
/*Link styles*/
a:link{
    color: rgb(133,19,206);
    }
a:visited{
    color: rgb(65,18,95);
    }
a:hover{
    color: black;
    }
a:active{
    color: black;
    }
  
